extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")

block content
  main
    form.login-form(action="/signup", method="POST")
      input(name="_csrf", type="hidden", value=csrfToken)

      .form-control
        label(for="email") Email
        input#email(type="text", name="email")

      .form-control
        label(for="password") Password
        input#password(type="text", name="password")

      .form-control
        label(for="confirmPassword") Confirm Password
        input#confirmPassword(type="text", name="confirmPassword")

      button.btn(type="submit") Signup
